<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <title>Login PG Exam</title>
    </head>
    <body>
        <style>
            html,body { 
            height: 100%; 
            }
            .global-container{
            height:100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #f5f5f5;
            }
            form{
            padding-top: 10px;
            font-size: 14px;
            margin-top: 30px;
            }
            .card-title{ font-weight:300; }
            .btn{
            font-size: 14px;
            margin-top:20px;
            }
            .form-style{ 
            width:330px;
            margin:20px;
            }
            .sign-up{
            text-align:center;
            padding:20px 0 0;
            }
            .alert{
            margin-bottom:-30px;
            font-size: 13px;
            margin-top:20px;
            }
        </style>
        <div class="global-container">
        <div class="card-text text-center">
            {% if user.is_authenticated %}
            <div class="alert">
            <strong>Hello {{ user.first_name }}!</strong>
            </div>
            {% endif %}
            {% if message %}
            <div class="alert alert-primary">
                <strong>{{ message }}</strong>
            </div>
            {% endif %}
            {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}

        {% block form_content %}
        {% endblock %}

        </div>
    </body>
</html>