{% extends 'base_user_form.html' %}
{% block form_content %}
   <div class="card form-style">
      <div class="card-body">
         <h3 class="card-title text-center">Edit Profile</h3>
            <form method="POST">
            {% csrf_token %}
               <div class="form-group">
                  <label for="exampleInputEmail1">First Name</label>
                  {{ form.first_name }}
               </div>
               <div class="form-group">
                  <label for="exampleInputPassword1">Last Name</label>
                  {{ form.last_name }}
               </div>
               <button type="submit" class="btn btn-primary btn-block">Update</button>

            </form>
         </div>
      </div>
   </div>
{% endblock %}
