{% extends 'base_user_form.html' %}
{% block form_content %}
   <div class="card form-style">
      <div class="card-body">
         <h3 class="card-title text-center">Log in to PG Exam</h3>
            <form method="POST">
               {% csrf_token %}
               <!-- to error: add class "has-danger" -->
               <div class="form-group">
                  {% if form.username.error %}
                  <div class="alert alert-danger">
                        <strong>{{ form.username.error|escape }}</strong>
                  </div>
                  {% endif %}
                  <label for="exampleInputEmail1">Username</label>
                  {{ form.username }}
               </div>
               <div class="form-group">
                  {% if form.password.error %}
                        <div class="alert alert-danger">
                           <strong>{{ form.password.error|escape }}</strong>
                        </div>
                  {% endif %}
                  <label for="exampleInputPassword1">Password</label>
                  {{ form.password }}
               </div>
               <button type="submit" class="btn btn-primary btn-block">Sign in</button>
               <div class="sign-up">
                  Don't have an account? <a href="/users/register">Create One</a>
               </div>
         </form>
      </div>
   </div>
{% endblock %}