<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <title>Register PG Exam</title>
    </head>
    <body>
       <section>
          <div class="container">
             <div class="row justify-content-center">
                <div class="col-12 col-md-8 col-lg-8 col-xl-6">
                    {% if message %}
                    <div class="alert alert-primary">
                        <strong>{{ message }}</strong>
                    </div>
                    {% endif %}
                    {% if form.errors %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                      {% for field in form %}
                          {% for error in field.errors %}
                              <div class="alert alert-danger">
                                  <strong>{{ error|escape }}</strong>
                              </div>
                          {% endfor %}
                      {% endfor %}
                  {% endif %}
                   <div class="row">
                      <div class="col text-center">
                         <h1>Register</h1>
                         <p class="text-h3">PG Exam</p>
                      </div>
                   </div>
                   <form method="POST">
                      {% csrf_token %}
                      <div class="row align-items-center">
                         {% if form.username.error %}
                            <div class="alert alert-danger">
                                <strong>{{ form.username.error|escape }}</strong>
                            </div>
                         {% endif %}
                         <div class="col mt-4">
                             {{ form.username }}
                         </div>
                      </div>
                      <div class="row align-items-center">
                        {% if form.first_name.error %}
                            <div class="alert alert-danger">
                                <strong>{{ form.first_name.error|escape }}</strong>
                            </div>
                        {% endif %}
                        <div class="col mt-4">
                            {{ form.first_name }}
                        </div>
                     </div>
                     <div class="row align-items-center">
                        {% if form.last_name.error %}
                            <div class="alert alert-danger">
                                <strong>{{ form.last_name.error|escape }}</strong>
                            </div>
                        {% endif %}
                        <div class="col mt-4">
                            {{ form.last_name }}
                        </div>
                     </div>
                      <div class="row align-items-center mt-4">
                        {% if form.email.error %}
                            <div class="alert alert-danger">
                                <strong>{{ form.email.error|escape }}</strong>
                            </div>
                        {% endif %}
                         <div class="col">
                             {{ form.email }}
                         </div>
                      </div>
                      <div class="row align-items-center mt-4">
                        {% if form.password.error %}
                            <div class="alert alert-danger">
                                <strong>{{ form.password.error|escape }}</strong>
                            </div>
                        {% endif %}
                         <div class="col">
                             {{ form.password }}
                         </div>
                      </div>
                      <div class="row justify-content-start mt-4">
                         <div class="col">
                            <button class="btn btn-primary mt-4">Submit</button>
                         </div>
                      </div>
                   </form>
                </div>
             </div>
          </div>
       </section>
    </body>
 </html>
 