{% extends 'global_wrapper.html' %}

{% block title %}PG-Exam{% endblock %}

{% block body %}
    <div class="container">
        <h1>Hello, <strong>{{ user.first_name }}</strong></h1>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Create new exam</button>
        <a href="/exams/search"><button class="btn btn-primary">Search Exam</button></a>
        <a href="/exams/"><button class="btn btn-primary">List Exam</button></a>
        <a href="/users/logout"><button class="btn btn-danger">Logout</button></a>
    </div>
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="/exams/create" method="GET">
                    <div class="modal-header">
                        <h4 class="modal-title">New Exam</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <input type="text" name="count" placeholder="Jumlah soal" class="form-control"/>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Create</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
