<ul class="pagination">
  {% if page_obj.has_previous %}
      <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}"><</a></li>
  {% endif %}
  <p class="current ">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
  </p>
  {% if page_obj.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">></a></li>
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
  {% endif %}
</ul>
