{% extends 'global_wrapper.html' %}

{% block title %}Exam{% endblock %}

{% block body %}
    <script>
        const startDate = new Date("{{ data.start | date:'c' }}");
        const endDate = new Date(startDate.getTime() + +'{{ data.duration }}' * 60000).getTime();
        const submitExam = () => {
            const code = $("#code").val();
            const total = +$("#total").val();
            const answers = [];
            for (let i = 1; i <= total; i++) {
                const answer = $(`#answer-${i}`).val();
                answers.push(answer);
            }

            $.ajax({
                url: "/exams/access?code=" + code,
                method: "POST",
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                data: JSON.stringify({ code, answers }),
                success: (data) => { window.location.replace("/"); },
                error: (error) => { alert(error.responseText); }
            });

            return false;
        }

        const x = setInterval(() => {
            const now = new Date().getTime();
            const distance = endDate - now;
            const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            const seconds = Math.floor((distance % (1000 * 60)) / 1000);
            $("#time-left").html(hours + " jam, " + minutes + " menit, " + seconds + " detik");
            if (distance < 0) {
                clearInterval(x);
                $("#time-left").html("EXPIRED");
            }
        }, 1000);
    </script>

    <div class="container" style="margin-top: 50px">
        {% if error %}
            <h5>{{ error }}</h5>
        {% else %}
            <form id="form" onsubmit="return submitExam()" method="POST">
                {% csrf_token %}
                <input type="hidden" name="code" id="code" value="{{data.code}}" />
                <input type="hidden" name="total" id="total" value="{{data.total}}" />
                <h2>Exam: {{data.title}}</h2>
                <h3>Time remaining: <span id="time-left"></span></h3>
                <hr/>

                {% for question in data.data %}
                <div>
                    <h5>{{forloop.counter}}. {{question.question}}</h5>

                    <div class="row" style="margin-top:20px;">
                        <div class="col-sm-12">A: {{question.option.0}}</div>
                    </div>
                    <div class="row" style="margin-top:20px;">
                        <div class="col-sm-12">B: {{question.option.1}}</div>
                    </div>
                    <div class="row" style="margin-top:20px;">
                        <div class="col-sm-12">C: {{question.option.2}}</div>
                    </div>
                    <div class="row" style="margin-top:20px;">
                        <div class="col-sm-12">D: {{question.option.3}}</div>
                    </div>

                    <div class="row" style="margin-top:20px;">
                        <div class="col-sm-2">Jawaban</div>
                        <div class="col-sm-10">
                            <select name="answer-{{forloop.counter}}" id="answer-{{forloop.counter}}" class="form-control">
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                                <option value="D">D</option>
                            </select>
                        </div>
                    </div>
                    <hr/>
                </div>
                {% endfor %}
                <div class="row justify-content-center align-items-center">
                    <button type="submit" class="btn btn-primary" style="margin-bottom: 50px">SUBMIT</button>
                </div>
            </form>
        {% endif %}
    </div>

{% endblock %}