{% extends 'global_wrapper.html' %}

{% block title %}Create new exam{% endblock %}

{% block body %}
    <script>
        const formSubmit = () => {
            const count = +$("#count").val();
            const title = $("#title").val();
            const code = $("#code").val();
            const start = new Date($("#start").val());
            const duration = +$("#duration").val();
            const data = [];
            for (let i = 1; i <= count; i++) {
                const question = $(`#question-${i}`).val();
                const option = [
                    $(`#option-${i}-a`).val(),
                    $(`#option-${i}-b`).val(),
                    $(`#option-${i}-c`).val(),
                    $(`#option-${i}-d`).val(),
                ];
                const answer = $(`#answer-${i}`).val();
                data.push({ question, option, answer });
            }
            
            $.ajax({
                url: "/exams/create",
                method: "POST",
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                data: JSON.stringify({ title, code, start, duration, data }),
                success: (data) => { window.location.replace("/"); },
                error: (error) => { alert(error.responseText); }
            });

            return false;
        };
    </script>
    <div class="container" style="margin-top: 50px">
        <form id="form" onsubmit="return formSubmit();" method="POST">
            {% csrf_token %}
            <input type="hidden" name="count" id="count" value="{{count}}" />
            <h3>Title</h3>
            <input class="form-control" id="title" placeholder="Write exam title here.." maxlength="30" required/>
            <br />
            <h3>Exam Code</h3>
            <input class="form-control" id="code" placeholder="Write unique exam code.."  maxlength="20" required/>
            <br />
            <h3>Start date</h3>
            <input class="form-control" id="start" required type="datetime-local"/>
            <br />
            <h3>Duration (in minutes)</h3>
            <input class="form-control" id="duration" value="60" min="1" required type="number"/>
            <hr />
            {% for i in range %}
            <div>
                <h3>Soal nomor {{i}}</h3>
                <textarea id="question-{{i}}" class="form-control" required></textarea>
                <div class="row" style="margin-top:20px;">
                    <div class="col-sm-1">Opsi A: </div>
                    <div class="col-sm-11"><input type="text" class="form-control" id="option-{{i}}-a" required/></div>
                </div>
                <div class="row" style="margin-top:20px;">
                    <div class="col-sm-1">Opsi B: </div>
                    <div class="col-sm-11"><input type="text" class="form-control" id="option-{{i}}-b" required/></div>
                </div>
                <div class="row" style="margin-top:20px;">
                    <div class="col-sm-1">Opsi C: </div>
                    <div class="col-sm-11"><input type="text" class="form-control" id="option-{{i}}-c" required/></div>
                </div>
                <div class="row" style="margin-top:20px;">
                    <div class="col-sm-1">Opsi D: </div>
                    <div class="col-sm-11"><input type="text" class="form-control" id="option-{{i}}-d" required/></div>
                </div>
                <div class="row" style="margin-top:20px;">
                    <div class="col-sm-2">Kunci Jawaban</div>
                    <div class="col-sm-10">
                        <select id="answer-{{i}}" class="form-control">
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                            <option value="D">D</option>
                        </select>
                    </div>
                </div>
                <hr/>
            </div>
            {% endfor %}
            <div class="row justify-content-center align-items-center">
                <button type="submit" class="btn btn-primary" style="margin-bottom: 50px">CREATE</button>
            </div>
        </form>
    </div>
{% endblock %}
