{% extends 'global_wrapper.html' %}

{% block title %}List Exam{% endblock %}

{% block body %}
    <script>
        $(document).ready(() => {
            const urlParams = new URLSearchParams(window.location.search);
            const typeParams = urlParams.get("type");
            $.each($(".page-link"), (i, val) => {
                const url = (new URL(val.href));
                url.searchParams.append("type", typeParams || "my-exam");
                val.href = url;
            });
        })

        const typeButtonClicked = (type) => {
            if (type === "my-exam" || type === 'taken-exam') {
                $.each($(".page-link"), (i, val) => {
                    const url = (new URL(val.href));
                    if (!url.searchParams.has('type'))
                        url.searchParams.append('type', type);
                    else {
                        url.searchParams.delete('type');
                        url.searchParams.append('type', type);
                    }
                    val.href = url;
                });
                window.location.replace("/exams/?type=" + type);
            }

        } 
    </script>
    <div class="container" style="margin-top: 50px">
        <div class="row" style="margin-top:20px;">
            <div class="col-sm-1"><button onclick="return typeButtonClicked('my-exam')" class="btn btn-primary">MY EXAM</button></div>
            <div class="col-sm-11"><button onclick="return typeButtonClicked('taken-exam')" class="btn btn-primary">TAKEN EXAM</button></div>
        </div>
        <table id="my-exam" class="table table-striped table-bordered table-sm">
            <caption>List of Exams</caption>
            <thead>
            <tr>
                <th class="th-sm" scope="col">Title
                </th>
                <th class="th-sm" scope="col">Code
                </th>
                <th class="th-sm" scope="col">Start
                </th>
                <th class="th-sm" scope="col">Duration
                </th>
                {% if type == "taken-exam" %}
                  <th class="th-sm" scope="col">Score
                  </th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for exam in page_obj %}
            <tr>
                <td>{% if type == "my-exam" %}<a href="/exams/result/{{ exam.id }}">{% endif %}{{ exam.title }}</a></td>
                <td>{{ exam.code }}</td>
                <td>{{ exam.start }}</td>
                <td>{{ exam.duration }}</td>
                {% if type == "taken-exam" %}
                  <td>{{ exam.score }}</td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% include 'pagination_footer.html' %}
        
    </div>
{% endblock %}
