{% extends 'global_wrapper.html' %}

{% block title %}Results Exam{% endblock %}

{% block body %}
    <div class="container" style="margin-top: 50px">
        <table id="result-report" class="table table-striped table-bordered table-sm">
            <caption>List of Result Exam</caption>
            <thead>
            <tr>
                <th class="th-sm" scope="col">First Name
                </th>
                <th class="th-sm" scope="col">Last Name
                </th>
                <th class="th-sm" scope="col">Username
                </th>
                <th class="th-sm" scope="col">Score
                </th>
            </tr>
            </thead>
            <tbody>
            {% for user in page_obj %}
            <tr>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.score }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% include 'pagination_footer.html' %}
    </div>
{% endblock %}
