{% extends 'global_wrapper.html' %}

{% block title %}Search exam{% endblock %}

{% block body %}
    <script>
        const formSubmit = () => {
            const code = $("#code").val();
            $.ajax({
                url: "/exams/search?code=" + code,
                method: "GET",
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                success: (data) => {
                    const startDate = new Date(data.start);
                    const endDate = new Date(startDate.getTime() + data.duration * 60000);
                    $("#title").text(data.title);
                    $("#start").text(startDate);
                    $("#duration").text(data.duration);
                    $("#data").removeClass("d-none");
                    $("#searched_code").val(data.code);
                    if (new Date().getTime() < startDate.getTime()) {
                        $("#access-btn").attr("disabled", true);     
                    } else if (new Date().getTime() > endDate.getTime()) {
                        $("#access-btn").attr("disabled", true);     
                        $("#access-btn").html("EXPIRED")
                    }else { 
                        $("#access-btn").val("ACCESS")
                        $("#access-btn").attr("disabled", false);     
                    }
                },
                error: (error) => { 
                    $("#title-alert").text(error.statusText);
                    $("#body-alert").text("EXAM Not Found");
                    $("#modal-show")[0].click();
                    $("#data").addClass("d-none");
                }
            });

            return false;
        };

        const accessExam = () => {
            const code = $("#searched_code").val();
            location.replace(`${window.location.origin}/exams/access?code=${code}`);
        };
    </script>
    <div class="container" style="margin-top: 50px">
        <a data-toggle="modal" href="#ignismyModal" id="modal-show"></a>
        <div class="modal fade" id="ignismyModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label=""><span>×</span></button>
                     </div>
                    <div class="modal-body">
						<div class="alert-danger alert">
							<h1 id="title-alert"></h1>
							<p id="body-alert"></p>
 						</div>
                    </div>
                </div>
            </div>
        </div>
        <form id="form" onsubmit="return formSubmit();" method="GET">
            {% csrf_token %}
            <h3>Exam Code</h3>
            <input class="form-control" id="code" placeholder="Exam code.."  maxlength="20" required/>
            <br />
            <div class="row justify-content-center align-items-center">
                <button type="submit" class="btn btn-primary">SEARCH</button>
            </div>
        </form>
        <div class="d-none" id="data">
          <h3>Title</h3>
          <p class="text-justify" id="title">Title</p>
          <br />
          <h3>Start date</h3>
          <p class="text-justify" id="start">Start</p>
          <br />
          <h3>Duration (in minutes)</h3>
          <p class="text-justify" id="duration">Duration</p>
          <hr />
          <div class="row justify-content-center align-items-center">
            <input type="hidden" name="searched_code" id="searched_code"/>
            <button type="button" id="access-btn" onclick="accessExam()" class="btn btn-primary" style="margin-bottom: 50px;">ACCESS</button>
        </div>
        </div>
    </div>
{% endblock %}
